
.DS_Store
1 Project/1.als
1 Project/Ableton Project Info/Project8_1.cfg
1 Project/Backup/1 \[2024-11-16 090444\].als
1 Project/Backup/1 \[2024-11-16 165715\].als
1 Project/Backup/1 \[2024-11-17 080516\].als
1 Project/Backup/1 \[2024-11-17 222446\].als
1 Project/Backup/1 \[2024-11-19 212142\].als
1 Project/Backup/1 \[2024-11-19 213243\].als
1 Project/Backup/1 \[2024-11-19 213709\].als
1 Project/Backup/1 \[2024-11-19 214900\].als
1 Project/Backup/1 \[2024-11-20 001647\].als
1 Project/Backup/1 \[2024-11-20 141154\].als
1 Project/Icon
1 Project/Samples/Recorded/2-Audio 0001 \[2024-11-16 012610\].aif
1 Project/Samples/Recorded/2-Audio 0001 \[2024-11-16 012610\].aif.asd
1 Project/Samples/Recorded/2024-06-15 0001 \[2024-11-19 233306\].aif
1 Project/Samples/Recorded/2024-06-15 0001 \[2024-11-19 233306\].aif.asd
1 Project/Samples/Recorded/3-Audio 0001 \[2024-11-16 002214\].aif
1 Project/Samples/Recorded/3-Audio 0001 \[2024-11-16 002214\].aif.asd
1 Project/Samples/Recorded/3-Audio 0001 \[2024-11-19 203715\].aif
1 Project/Samples/Recorded/3-Audio 0001 \[2024-11-19 203715\].aif.asd
1 Project/Samples/Recorded/3-Audio 0001 \[2024-11-19 203737\].aif
1 Project/Samples/Recorded/3-Audio 0001 \[2024-11-19 203737\].aif.asd
1 Project/Samples/Recorded/3-Audio 0002 \[2024-11-16 002416\].aif
1 Project/Samples/Recorded/3-Audio 0002 \[2024-11-16 002416\].aif.asd
1 Project/Samples/Recorded/3-Audio 0003 \[2024-11-16 002610\].aif
1 Project/Samples/Recorded/3-Audio 0003 \[2024-11-16 002610\].aif.asd
1 Project/Samples/Recorded/3-Audio 0004 \[2024-11-16 002642\].aif
1 Project/Samples/Recorded/3-Audio 0004 \[2024-11-16 002642\].aif.asd
1 Project/Samples/Recorded/3-Audio 0004 \[2024-11-16 002644\].aif
1 Project/Samples/Recorded/3-Audio 0004 \[2024-11-16 002644\].aif.asd
__pycache__/ArtnetUtils.cpython-311.pyc
__pycache__/TArtnet.cpython-311.pyc
audio1.m4a
audio_fast.mp3
audio_slow.mp3
BPM/audio1.m4a
BPM/audio_fast.mp3
BPM/audio_slow.mp3
data/.DS_Store
data/2024-09-14.mp3
data/2024-10-26.mp3
data/effect10（0%）/.DS_Store
data/effect10（0%）/10-1.mp3
data/effect10（0%）/10-2.mp3
data/effect10（0%）/10-3.mp3
data/effect10（0%）/10-4.mp3
data/effect10（0%）/10-5.mp3
data/effect10（0%）/10-6.mp3
data/effect1（漸進漸出bpm）/1-1.mp3
data/effect1（漸進漸出bpm）/1-2.mp3
data/effect1（漸進漸出bpm）/1-3.mp3
data/effect1（漸進漸出bpm）/1-4.mp3
data/effect1（漸進漸出bpm）/1-5.mp3
data/effect1（漸進漸出bpm）/1-6.mp3
data/effect1（漸進漸出bpm）/1-7.mp3
data/effect2（Can-Can bpm）/.DS_Store
data/effect2（Can-Can bpm）/2-1.mp3
data/effect2（Can-Can bpm）/2-2.mp3
data/effect2（Can-Can bpm）/2-3.mp3
data/effect2（Can-Can bpm）/2-4.mp3
data/effect2（Can-Can bpm）/2-5.mp3
data/effect2（Can-Can bpm）/2-6.mp3
data/effect2（Can-Can bpm）/2-7.mp3
data/effect3（Can-Can 柔）/.DS_Store
data/effect3（Can-Can 柔）/3-1.mp3
data/effect3（Can-Can 柔）/3-10.mp3
data/effect3（Can-Can 柔）/3-11.mp3
data/effect3（Can-Can 柔）/3-12.mp3
data/effect3（Can-Can 柔）/3-13.mp3
data/effect3（Can-Can 柔）/3-14.mp3
data/effect3（Can-Can 柔）/3-15.mp3
data/effect3（Can-Can 柔）/3-16.mp3
data/effect3（Can-Can 柔）/3-2.mp3
data/effect3（Can-Can 柔）/3-3.mp3
data/effect3（Can-Can 柔）/3-4.mp3
data/effect3（Can-Can 柔）/3-5.mp3
data/effect3（Can-Can 柔）/3-6.mp3
data/effect3（Can-Can 柔）/3-7.mp3
data/effect3（Can-Can 柔）/3-8.mp3
data/effect3（Can-Can 柔）/3-9.mp3
data/effect4（Rain bpm）/.DS_Store
data/effect4（Rain bpm）/4-1.mp3
data/effect4（Rain bpm）/4-2.mp3
data/effect4（Rain bpm）/4-3.mp3
data/effect4（Rain bpm）/4-4.mp3
data/effect4（Rain bpm）/4-5.mp3
data/effect4（Rain bpm）/4-6.mp3
data/effect4（Rain bpm）/4-7.mp3
data/effect5（快閃）/.DS_Store
data/effect5（快閃）/5-1.mp3
data/effect5（快閃）/5-10.mp3
data/effect5（快閃）/5-11.mp3
data/effect5（快閃）/5-12.mp3
data/effect5（快閃）/5-13.mp3
data/effect5（快閃）/5-2.mp3
data/effect5（快閃）/5-3.mp3
data/effect5（快閃）/5-4.mp3
data/effect5（快閃）/5-5.mp3
data/effect5（快閃）/5-6.mp3
data/effect5（快閃）/5-7.mp3
data/effect5（快閃）/5-8.mp3
data/effect5（快閃）/5-9.mp3
data/effect6（白光）/.DS_Store
data/effect6（白光）/6-1.mp3
data/effect6（白光）/6-2.mp3
data/effect6（白光）/6-3.mp3
data/effect6（白光）/6-4.mp3
data/effect6（白光）/6-5.mp3
data/effect6（白光）/6-6.mp3
data/effect6（白光）/6-7.mp3
data/effect7（漸進漸出 慢）/.DS_Store
data/effect7（漸進漸出 慢）/7-1.mp3
data/effect7（漸進漸出 慢）/7-10.mp3
data/effect7（漸進漸出 慢）/7-11.mp3
data/effect7（漸進漸出 慢）/7-12.mp3
data/effect7（漸進漸出 慢）/7-2.mp3
data/effect7（漸進漸出 慢）/7-3.mp3
data/effect7（漸進漸出 慢）/7-4.mp3
data/effect7（漸進漸出 慢）/7-5.mp3
data/effect7（漸進漸出 慢）/7-6.mp3
data/effect7（漸進漸出 慢）/7-7.mp3
data/effect7（漸進漸出 慢）/7-8.mp3
data/effect7（漸進漸出 慢）/7-9.mp3
data/effect8（漸進漸出 快）/.DS_Store
data/effect8（漸進漸出 快）/8-1.mp3
data/effect8（漸進漸出 快）/8-2.mp3
data/effect8（漸進漸出 快）/8-3.mp3
data/effect8（漸進漸出 快）/8-4.mp3
data/effect8（漸進漸出 快）/8-5.mp3
data/effect8（漸進漸出 快）/8-6.mp3
data/effect9（100%）/.DS_Store
data/effect9（100%）/9-1.mp3
data/effect9（100%）/9-10.mp3
data/effect9（100%）/9-11.mp3
data/effect9（100%）/9-12.mp3
data/effect9（100%）/9-13.mp3
data/effect9（100%）/9-14.mp3
data/effect9（100%）/9-15.mp3
data/effect9（100%）/9-16.mp3
data/effect9（100%）/9-17.mp3
data/effect9（100%）/9-2.mp3
data/effect9（100%）/9-3.mp3
data/effect9（100%）/9-4.mp3
data/effect9（100%）/9-5.mp3
data/effect9（100%）/9-6.mp3
data/effect9（100%）/9-7.mp3
data/effect9（100%）/9-8.mp3
data/effect9（100%）/9-9.mp3
tempCodeRunnerFile.py
1 Project/Icon
audio1.m4a
audio_fast.mp3
audio_slow.mp3
data/2024-08-17.mp3
data/2024-06-15.mp3
.vscode/settings.json
1 Project/Backup/1 \[2024-11-26 232154\].als
1 Project/Backup/1 \[2024-11-26 233952\].als
1 Project/Backup/1 \[2024-11-26 235131\].als
1 Project/Backup/1 \[2024-11-27 004101\].als
1 Project/Backup/1 \[2024-11-27 154732\].als
1 Project/Backup/1 \[2024-11-29 061919\].als
1 Project/Backup/1 \[2024-11-29 075133\].als
1 Project/Backup/1 \[2024-11-29 082034\].als
1 Project/Icon
1 Project/Samples/Recorded/10-Audio 0001 \[2024-11-29 075240\].aif
1 Project/Samples/Recorded/10-Audio 0001 \[2024-11-29 075240\].aif.asd
1 Project/Samples/Recorded/10-Audio 0002 \[2024-11-29 075415\].aif
1 Project/Samples/Recorded/10-Audio 0002 \[2024-11-29 075415\].aif.asd
1 Project/Samples/Recorded/10-Audio 0002 \[2024-11-29 075418\].aif
1 Project/Samples/Recorded/10-Audio 0002 \[2024-11-29 075418\].aif.asd
1 Project/Samples/Recorded/5-Audio 0001 \[2024-11-26 235539\].aif
1 Project/Samples/Recorded/5-Audio 0001 \[2024-11-26 235539\].aif.asd
1 Project/Samples/Recorded/6-Audio 0001 \[2024-11-27 001628\].aif
1 Project/Samples/Recorded/6-Audio 0001 \[2024-11-27 001628\].aif.asd
1 Project/Samples/Recorded/6-Audio 0001 \[2024-11-27 001631\].aif
1 Project/Samples/Recorded/6-Audio 0001 \[2024-11-27 001631\].aif.asd
1 Project/Samples/Recorded/6-Audio 0002 \[2024-11-27 001821\].aif
1 Project/Samples/Recorded/6-Audio 0002 \[2024-11-27 001821\].aif.asd
1 Project/Samples/Recorded/6-Audio 0003 \[2024-11-27 001917\].aif
1 Project/Samples/Recorded/6-Audio 0003 \[2024-11-27 001917\].aif.asd
1 Project/Samples/Recorded/7-Audio 0001 \[2024-11-29 063242\].aif
1 Project/Samples/Recorded/7-Audio 0001 \[2024-11-29 063242\].aif.asd
1 Project/Samples/Recorded/7-Audio 0001 \[2024-11-29 063244\].aif
1 Project/Samples/Recorded/7-Audio 0001 \[2024-11-29 063244\].aif.asd
1 Project/Samples/Recorded/8-Audio 0001 \[2024-11-29 065819\].aif
1 Project/Samples/Recorded/8-Audio 0001 \[2024-11-29 065819\].aif.asd
1 Project/Samples/Recorded/9-Audio 0001 \[2024-11-29 072509\].aif
1 Project/Samples/Recorded/9-Audio 0001 \[2024-11-29 072509\].aif.asd
Artnet/__pycache__/ArtnetUtils.cpython-311.pyc
Artnet/__pycache__/SignalGenerator.cpython-311.pyc
Artnet/__pycache__/TArtnet.cpython-311.pyc
data/2024-06-08.mp3
data/effect10（0%）/10-10.mp3
data/effect10（0%）/10-11.mp3
data/effect10（0%）/10-12.mp3
data/effect10（0%）/10-13.mp3
data/effect10（0%）/10-14.mp3
data/effect10（0%）/10-15.mp3
data/effect10（0%）/10-16.mp3
data/effect10（0%）/10-17.mp3
data/effect10（0%）/10-7.mp3
data/effect10（0%）/10-8.mp3
data/effect10（0%）/10-9.mp3
data/effect1（漸進漸出bpm）/1-10.mp3
data/effect1（漸進漸出bpm）/1-11.mp3
data/effect1（漸進漸出bpm）/1-12.mp3
data/effect1（漸進漸出bpm）/1-13.mp3
data/effect1（漸進漸出bpm）/1-14.mp3
data/effect1（漸進漸出bpm）/1-15.mp3
data/effect1（漸進漸出bpm）/1-8.mp3
data/effect1（漸進漸出bpm）/1-9.mp3
data/effect2（Can-Can bpm）/2-10.mp3
data/effect2（Can-Can bpm）/2-11.mp3
data/effect2（Can-Can bpm）/2-12.mp3
data/effect2（Can-Can bpm）/2-13.mp3
data/effect2（Can-Can bpm）/2-14.mp3
data/effect2（Can-Can bpm）/2-15.mp3
data/effect2（Can-Can bpm）/2-16.mp3
data/effect2（Can-Can bpm）/2-17.mp3
data/effect2（Can-Can bpm）/2-18.mp3
data/effect2（Can-Can bpm）/2-19.mp3
data/effect2（Can-Can bpm）/2-20.mp3
data/effect2（Can-Can bpm）/2-21.mp3
data/effect2（Can-Can bpm）/2-22.mp3
data/effect2（Can-Can bpm）/2-23.mp3
data/effect2（Can-Can bpm）/2-24.mp3
data/effect2（Can-Can bpm）/2-25.mp3
data/effect2（Can-Can bpm）/2-26.mp3
data/effect2（Can-Can bpm）/2-27.mp3
data/effect2（Can-Can bpm）/2-8.mp3
data/effect2（Can-Can bpm）/2-9.mp3
data/effect3（Can-Can 柔）/3-17.mp3
data/effect3（Can-Can 柔）/3-18.mp3
data/effect3（Can-Can 柔）/3-19.mp3
data/effect3（Can-Can 柔）/3-20.mp3
data/effect3（Can-Can 柔）/3-21.mp3
data/effect3（Can-Can 柔）/3-22.mp3
data/effect3（Can-Can 柔）/3-23.mp3
data/effect3（Can-Can 柔）/3-24.mp3
data/effect3（Can-Can 柔）/3-25.mp3
data/effect3（Can-Can 柔）/3-26.mp3
data/effect4（Rain bpm）/4-8.mp3
data/effect4（Rain bpm）/4-9.mp3
data/effect5（快閃）/5-14.mp3
data/effect5（快閃）/5-15.mp3
data/effect5（快閃）/5-16.mp3
data/effect5（快閃）/5-17.mp3
data/effect5（快閃）/5-18.mp3
data/effect5（快閃）/5-19.mp3
data/effect5（快閃）/5-20.mp3
data/effect5（快閃）/5-21.mp3
data/effect6（白光）/6-10.mp3
data/effect6（白光）/6-11.mp3
data/effect6（白光）/6-12.mp3
data/effect6（白光）/6-13.mp3
data/effect6（白光）/6-14.mp3
data/effect6（白光）/6-15.mp3
data/effect6（白光）/6-16.mp3
data/effect6（白光）/6-17.mp3
data/effect6（白光）/6-18.mp3
data/effect6（白光）/6-19.mp3
data/effect6（白光）/6-20.mp3
data/effect6（白光）/6-8.mp3
data/effect6（白光）/6-9.mp3
data/effect7（漸進漸出 慢）/7-13.mp3
data/effect7（漸進漸出 慢）/7-14.mp3
data/effect7（漸進漸出 慢）/7-15.mp3
data/effect7（漸進漸出 慢）/7-16.mp3
data/effect7（漸進漸出 慢）/7-17.mp3
data/effect7（漸進漸出 慢）/7-18.mp3
data/effect7（漸進漸出 慢）/7-19.mp3
data/effect7（漸進漸出 慢）/7-20.mp3
data/effect7（漸進漸出 慢）/7-21.mp3
data/effect7（漸進漸出 慢）/7-22.mp3
data/effect8（漸進漸出 快）/8-10.mp3
data/effect8（漸進漸出 快）/8-11.mp3
data/effect8（漸進漸出 快）/8-12.mp3
data/effect8（漸進漸出 快）/8-13.mp3
data/effect8（漸進漸出 快）/8-14.mp3
data/effect8（漸進漸出 快）/8-15.mp3
data/effect8（漸進漸出 快）/8-16.mp3
data/effect8（漸進漸出 快）/8-17.mp3
data/effect8（漸進漸出 快）/8-7.mp3
data/effect8（漸進漸出 快）/8-8.mp3
data/effect8（漸進漸出 快）/8-9.mp3
data/effect9（100%）/9-18.mp3
data/effect9（100%）/9-19.mp3
data/effect9（100%）/9-20.mp3
data/effect9（100%）/9-21.mp3
data/effect9（100%）/9-22.mp3
data/effect9（100%）/9-23.mp3
data/effect9（100%）/9-24.mp3
data/effect9（100%）/9-25.mp3
1 Project/Icon
1 Project/Icon
1 Project/Icon
Artnet/__pycache__/TestArtnet.cpython-311.pyc
1 Project/Icon
1 Project/Backup/1 \[2024-11-29 162151\].als
1 Project/Backup/1 \[2024-11-29 163712\].als
1 Project/Icon
data/2024-05-04.mp3
send slice/sendSlice.py
Artnet/tempmodel2024113021748.h5
Artnet/tempmodel2024113017352.keras
1 Project/Icon
1 Project/Backup/1 \[2024-12-01 102800\].als
1 Project/Backup/1 \[2024-11-30 155252\].als
1 Project/Backup/1 \[2024-12-02 210056\].als
1 Project/Icon
Demo.c2s
1 Project/Backup/1 \[2024-12-03 120453\].als
1 Project/Icon
